<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|${guild.second} - Pathfinder WeatherBot|"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/portal.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div class="window">
        <div class="container">
            <div th:replace="~{fragments :: sidebar}"></div>
            <header th:replace="~{fragments :: navbar(page='guild')}"></header>
            <div class="contentWrapper">
                <div class="content">
                    <section class="guildInfo">
                        <div class="temp">
                            <h1>Temperature: </h1>
                            <th:block th:text="${temp}"/>
                        </div>
                        <div class="clouds">
                            <h1>Clouds: </h1>
                            <th:block th:text="${clouds}"/>
                        </div>
                        <div class="wind">
                            <h1>Wind: </h1>
                            <th:block th:text="${wind}"/>
                        </div>
                        <div class="precip">
                            <h1>Precipitation: </h1>
                            <th:block th:text="${precip}"/>
                        </div>
                        <div class="status">
                            <h1>Status: </h1>
                            <th:block th:text="${status}"/>
                        </div>
                        <div th:if="${isModerator}" class="statusButton">
                            <form action="#" th:action="@{'/portal/{guild}'(guild=${guild.first})}" th:method="POST">
                                <button th:if="${status == 'Stopped'}" type=submit name="start" class="startButton">Start</button>
                                <button th:if="${status == 'Running'}" type=submit name="stop" class="stopButton">Stop</button>
                            </form>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
